
/* for change the icone of nav bare with clock  (= -> x) */
.close-nav{
    display: none;
}

nav .container-fluid a {
    color: rgb(139, 24, 56);
}

.sign .logup{
    background-color: rgb(139, 24, 56);
    color: white;
}
.sign .login{
    border-color: rgb(139, 24, 56);
    color:  rgb(139, 24, 56);
}

.logout  {
    color:  rgb(139, 24, 56);
}

.logout-div a{
    text-decoration: none;

}