
/* _________________design_ticket_______________ */

.custom-shape-divider-top-1670835323 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1670835323 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
}

.custom-shape-divider-top-1670835323 .shape-fill {
    fill: #8B1838;
}   

.img img{
    height: 55vh;
    width: 25vw;
}

/* _____________________print_______________________ */

@media print 
{
    .container .print-btn{
        display: none;
        visibility: none;
        display:none !important;
    }

    .img img{
        height: 20vh;
        width: 23vw;
        margin-top: 2rem;
        margin-left: 1.5rem; 
    }
}


/* ______________________responsive_____________________ */
@media screen and (max-width: 480px) 
{    
    .img img{
        height: 40vh;
        width: 25vw;
        margin-top: 5rem;
        margin-left: 1.5rem; 
    }
    .custom-shape-divider-top-1670835323 .shape-fill {
        fill: #8B1838;        
    }  

}

