
#nav #navbarToggle .brnd{
    color: rgb(139, 24, 56);
}

 .logup{
    background-color: rgb(139, 24, 56);
    color: white;
}

.login{
    border-color: rgb(139, 24, 56);
    color:  rgb(139, 24, 56);
}
